<div class="row">
  <div class="col-sm-6">
    <h1>Movies</h1>
  </div>

  <div class="col-sm-6 text-end">
    <%= link_to new_movie_path, class: 'btn btn-primary' do %>
      Add New Movie
    <% end %>
  </div>
</div>

<%= form_tag(movies_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @movies.any? %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Duration</th>
          <th>Description</th>
          <th>Release date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.title %></td>
            <td><%= movie.year %></td>
            <td><%= movie.duration %></td>
            <td><%= movie.description %></td>
            <td><%= movie.release_date %></td>
            <td><%= link_to 'Show', movie %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No results found.</p>
<% end %>
<style>{
  form {
  padding-bottom: 10px;
  text-align: right;
}
}
</style>