


<div class="row">
  <div class="col-sm-6">
    <h1>Movie_genres</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_movie_genre_path, class: 'btn btn-primary' do %>
    Add New Movie genre
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Movie</th>
            <th>Genre</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @movie_genres.each do |movie_genre| %>
        <%= content_tag :tr, id: dom_id(movie_genre), class: dom_class(movie_genre) do %>
          

                      <td><%= movie_genre.movie.title %></td>
                      <td><%= movie_genre.genre.name %></td>
          
          
            <td><%= link_to 'Show', movie_genre %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
